<!DOCTYPE html>
<html>
<head>
  <title>RailsAngularTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--
  this tage commented because of JCE/Java security issues should fix later
    csrf_meta_tags
  -->
</head>
<body>

<%= yield %>

</body>
</html>
